body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}

td {
  width: 200px;
  color:red;
  text-align: center;
  font-weight: lighter;
}

th {
  width: 200px;
}

#div-main {
  width: 100%;
  color:blue;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
